*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f7f2ea;
    font-family:Georgia,serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.scroll-container{
    text-align:center;
}

.scroll{
    cursor:pointer;
    transition:0.5s;
}

.paper{
    width:280px;
    padding:30px;
    background:#fff8eb;
    border:3px solid #c9a24b;
    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.paper h2{
    font-size:50px;
}

.paper p{
    margin-top:10px;
    color:#0b2a5a;
}

.hidden{
    display:none;
}

.invitation{
    width:500px;
    background:#fffdf8;
    padding:40px;
    border:3px solid #c9a24b;
    border-radius:18px;
    box-shadow:0 20px 40px rgba(0,0,0,.2);
    animation:fade .8s;
}

.invitation h1{
    color:#c29a39;
    margin-bottom:20px;
}

.invitation h2{
    color:#0b2a5a;
    margin-bottom:20px;
}

.invitation p{
    margin:15px 0;
    line-height:1.7;
}

.message{
    margin-top:25px;
    font-style:italic;
}

@keyframes fade{
    from{
        opacity:0;
        transform:scale(.8);
    }

    to{
        opacity:1;
        transform:scale(1);
    }
}.scroll-img{
    width:220px;
    transition:0.5s;
}

.scroll-img:hover{
    transform:scale(1.05);
}.chibi{
    width:180px;
    display:block;
    margin:20px auto;
}